<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Displaying the vaariable -->

    <!-- <%= name.toUpperCase()%> -->

    <!-- Conditional rendring -->

    <% if(userid === 409){%>
<h1>userId: <%= userid %> </h1> 
        <% } else if(userid===40){ %>
            <h1>UserId:<%= userid %></h1>
            <% }%>


            <!-- Loops In EJS -->

            <% for(let i = 0 ; i<=10;i++){ %>

                <h1>This Is written By loop <%= i %></h1>
                <% let Current = new Date() %>
                <%= Current %>
                <% } %>

</body>
</html>